<p id="notice"><%= notice %></p>

<h1><%= @contact.name %>
<%= link_to ('<span class="glyphicon glyphicon-pencil"></span>').html_safe, edit_contact_path(@contact), class:"btn btn-primary btn-md" %>
</h1>
<hr/>
<p><strong><%= t('nickname') %></strong> :
<%= @contact.nickname || '---' %></p>
